*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}
.images{
    width: 100%;
    /* margin: 10px; */
    border: 3px solid gray;

}
figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.selected{
    margin: 10px;
    width: 300px;
    height: 300px;
    border: 3px solid rgb(222, 10, 10);
    /* margin: auto; */
    display: flex;
    
    justify-content: center;
}
.openImage{
    width: 100%;
}
.fullImage{
  width: 90%;
  height: 100%;
  /* margin: 20px; */
 margin: auto;
 text-align: center;
 display: block;
 justify-content: center;
 align-items: center;
}
.fullImage img{
  
    width: 100%;
    height: auto;
    border: 2px solid rgb(0, 21, 255);
}
.backButton{
    border: 2px solid blue;
    color: white;
    cursor: pointer;
    
}

@media  (min-width:0px ) and (max-width:660px){
    .fullImage{
        margin-top: 50%;
    }
}